In [1]:
import pandas as pd

In [2]:
a = pd.read_csv('./ticker_15_EPO_optimal_weights.csv')
b = pd.read_csv('./ticker_30_EPO_optimal_weights.csv')
c = pd.read_csv('./ticker_45_EPO_optimal_weights.csv')

In [3]:
a

   Ticker    Weight
0    AAPL  0.033333
1    AMZN  0.033333
2    NVDA  0.033333
3     JPM  0.033333
4      PG  0.033333
5     PFE  0.133333
6     JNJ  0.033333
7      KO  0.133333
8     XOM  0.133333
9     NEE  0.133333
10  GOOGL  0.033333
11   MSFT  0.033333
12   TSLA  0.033333
13    NKE  0.033333
14    BAC  0.133333

In [4]:
b

   Ticker    Weight
0    MSFT  0.016667
1    AMZN  0.016667
2    NVDA  0.016667
3    AAPL  0.016667
4   GOOGL  0.016667
5    ADBE  0.016667
6     JNJ  0.066667
7     PFE  0.066667
8     MRK  0.066667
9     ABT  0.055998
10     PG  0.016667
11     KO  0.066667
12    JPM  0.016667
13     GS  0.016667
14    CAT  0.016667
15    CVX  0.016667
16    XOM  0.066667
17     BA  0.066667
18   TSLA  0.016667
19    NEE  0.066667
20    NKE  0.016667
21     VZ  0.066667
22    CRM  0.016667
23    UNH  0.016667
24    WMT  0.027336
25   QCOM  0.016667
26  BRK-B  0.016667
27      V  0.016667
28    MCD  0.016667
29   INTC  0.066667

In [5]:
c

   Ticker    Weight
0    AAPL  0.011364
1   GOOGL  0.011364
2    MSFT  0.011364
3    NVDA  0.011364
4     AMD  0.011364
5    ORCL  0.011364
6     CRM  0.011364
7    INTC  0.045455
8    CSCO  0.045455
9     JPM  0.011364
10     GS  0.011364
11    BAC  0.045455
12     MS  0.011364
13    AXP  0.011364
14      C  0.045455
15    JNJ  0.011364
16    UNH  0.011364
17    PFE  0.045455
18   ABBV  0.011364
19    MRK  0.045455
20   AMGN  0.011364
21   GILD  0.045455
22     PG  0.011364
23     KO  0.045455
24    NKE  0.011364
25    PEP  0.011364
26   COST  0.011364
27    WMT  0.011364
28    TGT  0.011364
29    XOM  0.020930
30    CVX  0.011364
31    NEE  0.024525
32    DUK  0.045455
33     SO  0.045455
34    SLB  0.045455
35    MMM  0.045455
36    CAT  0.011364
37    HON  0.011364
38     GE  0.045455
39    ADP  0.011364
40   AMZN  0.011364
41   META  0.011364
42     HD  0.011364
43     VZ  0.045455